.backgroud {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.backgroud::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/pexels-tahir-shaw-50609-186980.jpg)
        no-repeat center center/cover;
    z-index: -1;
}
.weather-view {
    width: 100%;
    height: 400px;
    padding: 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description {
    position: relative;
    right: -85%;
    transform-origin: 0 0;
    top: -50%;
    font-size: 18px;
}
.bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}
.bold {
    font-weight: 700;
}
